*.bin
*.o 		
*.tmp		

kernel/lib/
gnu-efi/x86_64//
gnu-efi/x86_64/lib/
gnu-efi/x86_64/gnuefi/*.o
gnu-efi/x86_64/bootloader/*.efi

.vs
.vscode
.user_misc 	
/.vs
/kernel/clean

# vim project information
compile_commands.json
.ccls
.ccls-cache/
.vimrc
.cache/
